@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


@theme {
    --font-moonDance: "Edu VIC WA NT Hand", "cursive";
    --breakpoint-small: 200px;
    --breakpoint-md: 1000px;
    --breakpoint-sm: 507px;
    --breakpoint-w-half: 50rem;
    --breakpoint--green-shade:#63f78f;
}



@layer {
    .btn {
        @apply border border-white text-white font-bold rounded-md py-3 px-8;
    }
}